@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
.SingnB {
  /* background-color: white; */
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.SingnB::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 150%;
  height: 200%;
  background-image: linear-gradient(45deg, #6875f5 10%, #e74694);
  animation: SingnButonColor 5s infinite ease-in-out;
}
@keyframes SingnButonColor {
  0% {
    left: 0%;
    
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0%;
  }
}